/*
 * Global
 */
* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-ms-box-sizing: border-box;
  	-o-box-sizing: border-box;
  	box-sizing: border-box;
}
body {
	color: #888;
}
h1,h2,h3,h4,h5 {}
h1 {
	font-size: 24px;
	color: #4dbcd3;
	text-transform: uppercase;
}
h2 {
	font-size: 18px;
}
a,
a:visited,
a:link {
	text-decoration: none;
}
a:hover {
	color: #cc0700;
}
ul {
	list-style-type: none;
}
input[type="text"], input[type="email"] {
	padding: 20px 10px;
	width: 100%;
	border: 1px solid #ddd;
}
input[type="submit"] {
	background: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	text-shadow: none;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	-ms-text-shadow: none;
	-o-text-shadow: none;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}
label {
	padding: 0 0 5px;
}
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
}
/*
 * Header
 */
.zone-branding-wrapper {
	padding: 35px 0 30px;
}

/*
 * Content
 */
.zone-content-wrapper {
	padding-top: 40px;
}
/*
 * Nice Menu
 */
ul.nice-menu, 
ul.nice-menu ul {
	border: none;
}
ul.nice-menu > li {
	background-color: #4dbcd3;
	border: none;
	border-right: 1.5px solid #fff;
	padding: 15px 60px;
}
ul.nice-menu > li:last-child {
	border-right: none;
}
ul.nice-menu a {
	color: #fefefe;
	font-size: 16px;
}
ul.nice-menu a:hover,
ul.nice-menu a.active {
	color: #07748b;
}
ul.nice-menu > li > a {
	text-transform: uppercase;
}
ul.nice-menu ul a {
	text-transform: capitalize;
	font-size: 11px;
}
ul.nice-menu-down > li.menuparent,
ul.nice-menu-down > li.menuparent:hover {
	background: none;
	background-color: #4dbcd3;
	position: relative;
}
ul.nice-menu > li > ul {
	padding: 40px 0 0;
	width: 100%;
	display: block;
}
ul.nice-menu > li > ul:before {
	content: "";
	display: block;
	width: 24px;
	height: 21px;
	background: url("../images/background-menu-dropdown.png") no-repeat scroll 0 0 transparent;
	position:absolute;
	left: 60px;
	top: 24px;
}
ul.nice-menu ul li {
	width: 100%;
	background-color: #4dbcd3;
	border-top: 1px solid #fff;
	padding: 15px;
}
ul.nice-menu ul li:first-child {
	border: none;
}
ul.nice-menu > li > a {
	padding: 0;
}
ul.nice-menu-down .menuparent a {
	padding: 0;
}

/*
 * Social
 */
#block-block-1 {
	float: right;
	margin-top: 10px;
} 
#block-block-1 ul.social{
	width: 100%;
	margin: 0;
	padding: 0;
}
#block-block-1 ul.social li {
	display: inline-block;
	margin: 0 10px 0 0;
}
#block-block-1 ul.social li a {
	display: block;
	width: 20px;
	height: 20px;
	font-size: 0;
}
#block-block-1 ul.social li a#facebook {
	background: url("../images/social.png") no-repeat scroll -9px -9px transparent;
}
#block-block-1 ul.social li a#twitter{
	background: url("../images/social.png") no-repeat scroll -43px -9px transparent;
}
#block-block-1 ul.social li a#google {
	background: url("../images/social.png") no-repeat scroll -85px -9px transparent;
}
#block-block-1 ul.social li a#youtube {
	background: url("../images/social.png") no-repeat scroll -128px -9px transparent;
}
/*
 * Contact
 */
#webform-client-form-2 .form-item {
	float: left;
	clear: left;
	width: 48%;
}
#webform-client-form-2 .form-item.webform-component-textarea {
	float: right;
	clear: right;
}
#webform-client-form-2 .form-actions {
	clear: both;
	padding: 20px 0 0 0;
}
#webform-client-form-2 textarea {
	height: 225px;
	resize: none;
}
.webform-component-textarea .grippie {
	display: none;
}
#webform-client-form-2 .form-actions input:hover {
	background-color: #07748b;
}
#webform-client-form-2 input[type="submit"] {
	background-color: #4dbcd3;
	color: #fff;
	padding: 10px 25px;
	text-transform: uppercase;	
}
/* ----- Menu top -----*/
.zone-user-wrapper {
	background-color: #e3f7fa;
	padding: 10px 0;
}
#region-user-second {
	float: right;
}
.region-user-second a {
	color: #888;
	padding: 0 5px;
}
.region-user-second a:hover {
	color: #07748b;
}
#block-merc-global-merc-global-user {
	display: inline-block;
}
#block-merc-global-merc-global-wishlist {
	display: inline-block;
	position: relative;
	margin-left: 50px;
}
.user-wishlist a:before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 21px;
	background: url("../images/favorite.png") no-repeat scroll 0px 0px transparent;
	position: absolute;
	top: 0;
	left: -22px;
}

/*----Block-merc-global-cart ---*/
.branding-data {
	float: left;
}
.cart-wrapper {
	line-height: 65px;
	font-size: 20px;
	color: #4dbcd3;
}
.cart-wrapper:before {
	content: "";
	display: inline-block;
	background: url("../images/cart-2.png") no-repeat scroll 0 0 transparent;
	width: 33px;
	height: 33px;
	position: absolute;
  	top: 10px;
  	left: -45px;
}
#block-merc-global-merc-global-cart {
	margin-right: 60px;
	float: right;
	position: relative;
}
.cart-wrapper b {
	text-transform: uppercase;
	color: #888;
}

/*---- Block Sidebar ---*/
.region-sidebar-first .block-merc-global {
	border: 1px solid #d7d7d7;
}
h2.title {
	border-bottom: 1px solid #d7d7d7;
  	padding: 0 0 10px;
  	margin-bottom: 0;
  	background: #87cedf;
  	color: #fff;
  	padding: 10px 15px;
    font: inherit;
    font-size: 18px;
}
h1.title{
    font-size: 22px;
    color: #4dbcd3;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: normal;
}
.sub-category {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}
#block-merc-global-merc-global-category-list li {
	display: block;
	padding: 10px 13px 0;
}
#block-merc-global-merc-global-category-list li:last-child {
	padding-bottom: 20px;
}
#block-merc-global-merc-global-category-list a:before {
	content: ">>";
	display: inline-block;
	letter-spacing: -5px;
  	font-size: 11px;
  	padding: 0 10px 0 0;
}
#block-merc-global-merc-global-category-list a {
	color: #07748b;
}
#block-merc-global-merc-global-category-list a:hover,
#block-merc-global-merc-global-category-list a.active {
	color: #cc0700;
}
