/*
 * Global
 */
* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-ms-box-sizing: border-box;
  	-o-box-sizing: border-box;
  	box-sizing: border-box;
}
body {}
h1,h2,h3,h4,h5 {}
a,
a:visited,
a:link {
	text-decoration: none;
}
a:hover {}
ul {
	list-style-type: none;
}
/*
 * Header
 */
.zone-branding-wrapper {
	padding: 35px 0 30px;
}

/*
 * Nice Menu
 */
ul.nice-menu, 
ul.nice-menu ul {
	border: none;
}
ul.nice-menu > li {
	background-color: #4dbcd3;
	border: none;
	border-right: 1.5px solid #fff;
	padding: 15px 60px;
}
ul.nice-menu > li:last-child {
	border-right: none;
}
ul.nice-menu a {
	color: #fefefe;
	text-transform: uppercase;
	font-size: 16px;
}
ul.nice-menu-down > li.menuparent,
ul.nice-menu-down > li.menuparent:hover {
	background: none;
	background-color: #4dbcd3;
	position: relative;
}
ul.nice-menu > li > ul {
	padding: 40px 0 0;
	width: 100%;
	display: block;
}
ul.nice-menu > li > ul:before {
	content: "";
	display: block;
	width: 24px;
	height: 21px;
	background: url("../images/background-menu-dropdown.png") no-repeat scroll 0 0 transparent;
	position:absolute;
	left: 40px;
	top: 24px;
}
ul.nice-menu ul li {
	width: 100%;
	background-color: #4dbcd3;
	border-top: 1px solid #fff;
	padding: 15px;
}
ul.nice-menu ul li:first-child {
	border: none;
}
ul.nice-menu > li > a {
	padding: 0;
}
ul.nice-menu-down .menuparent a {
	padding: 0;
}
